<ion-card>
  <div class="backdrop">
    <div class="background-one"></div>
    <div class="half-ellipse"></div>
    <div class="background-two"></div>
    <div class="background-three"></div>
  </div>
  <ion-card-header class="ion-text-center">
    <ion-avatar class="ion-margin-auto">
      <ion-img *ngIf="connection.avatar">
      </ion-img>
    </ion-avatar>
    <ion-card-title class="ion-margin-top"> {{ connection.firstname }} {{ connection.lastname }} </ion-card-title>
  </ion-card-header>
</ion-card>