<style>
  .popover {
    height: 500px;
    width: 600px;
  }
</style>
<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="isLoggedOut$ | async">
      <ion-buttons slot="secondary">
        <ion-button expand="full" fill="clear" [routerLink]="['/login']">
          Sign In
        </ion-button>
        <ion-button expand="full" fill="clear" [routerLink]="['/register']">
          Sign Up
        </ion-button>
      </ion-buttons>
    </ng-container>
    <ng-container *ngIf="isLoggedIn$ | async">
      <ion-buttons slot="secondary">
        <ion-button (click)="profile()">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="secondary" (click)="presentPopover($event)">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
    <ion-button fill="clear" color="dark" routerLink="{{(isLoggedIn$ | async) == true ? '/dashboard' : '/'}}">
      <img class="title-image" src="https://imgs.minibook.io/common/minibook-symbol-white.png" color="primary"
        width="36" height="36" />
      <ion-title style="padding-left: 5px;" class="ion-no-padding">
        Minibook
      </ion-title>
    </ion-button>
  </ion-toolbar>
</ion-header>